#can {
    cursor: cell; 
}

#tool-panel{
    margin-top: 10px;
}

.color-squired{
    display:inline-block; width:20px;height:20px;
}

.eraser{
    background:white; 
    border:2px solid; 
    box-sizing: border-box;
}